{
    "extends": [
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error",
        "max-len": [
            "error",
            {
                "code": 150,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true,
                "ignoreTrailingComments": true,
                "ignoreComments": true
            }
        ]
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "parser": "babel-eslint",
    "env": {
        "es6": true
    }
}