{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": true,
  "printWidth" : 150,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "jsxBracketSameLine": true
}